@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadMeta
{
    <meta name="description" content="Android App Development, Android Developer, Android Development, At Informatel We Develop Android Mobile Apps For Clients Big & Small, Call Us Today!">
    <meta name="keywords" content="iOS App Development, iPhone App Development, iOS Developer, iOS Development" />
    <meta name="author" content="informatel - http://www.informatel.com">
}

<div id="header-menu">
    @section banner
                    {
        <div class="banner" style="width: 100%; overflow: hidden;">
            <img src="@Url.Content("/Content/images/index/auto-banner.png")" alt="" id="my_image" />
        </div>
    }
    @section slimmenu
                    {
        <div id="wrapper">
            <header class="cf">
                <nav>
                    <ul class="slimmenu">
                        <li>@Html.ActionLink("SMS", "Index", "SMS")</li>
                        <li>@Html.ActionLink("VOICE", "Index", "Voice")</li>
                        <li>@Html.ActionLink("APPS", "Index", "APPS")</li>
                        <li>@Html.ActionLink("PRODUCTS AND SERVICES", "Index", "ProductService")</li>
                        <li>@Html.ActionLink("BANKING", "Index", "Banking")</li>
                        <li>@Html.ActionLink("HEALTH", "Index", "Health")</li>
                        <li>@Html.ActionLink("AUTO", "Index", "Auto")</li>
                        <li>@Html.ActionLink("OTHER INDUSTRIES", "Index", "OtherIndustry")</li>
                    </ul>
                </nav>
            </header>
        </div>
    }
    <br />
</div>


<div class="row">
    <div class="span8">
        <h3><strong>AUTO</strong></h3>
    </div>
</div>
<div class="divider single-dotted"></div>
<div class="row">
    <div id="pagewrap">
        <div id="content-text">
            <div class="testimonial-3 alt">
                <blockquote>
                    <h5>Informatel has long worked with the auto industry, with our mobile app division AppsWiz creating apps for a large number of car dealers and other auto industry professionals.  In addition, AppsWiz has fully integrated with the key auto industry  suppliers such as carsales.com.au, Dealer Solutions, Complete Dealer Services, Autoplay and more.<br>
                        Informatel delivers for the auto sector:
                    </h5>
                </blockquote>
                <br>
                <ul>
                    <li>@Html.ActionLink("AppsWiz", "Index", "APPS")</li>
                    <li>@Html.ActionLink("SMS", "Index", "SMS")</li>
                    <li>@Html.ActionLink("Location Based Services", "Index", "ProductService")</li>
                </ul>
            </div>
            <!-- end .testimonial -->
        </div>
        <div id="middle">
            <div class="mock">
                <img src="@Url.Content("/Content/images/index/car-apps.png")" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="divider single-dotted"></div>
<div class="row">
    <div class="span12">
        <h4>Auto Clients</h4>
        <ul class="logo" style="text-align: center">
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-18.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-25.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-26.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-30.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-27.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-28.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-56.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-57.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-58.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-59.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-60.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-61.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-62.png")" alt="" /></li>
            <li>
                <img src="@Url.Content("/Content/images/index/logo/140x45-63.png")" alt="" /></li>
        </ul>
    </div>
</div>
<div class="divider single-dotted"></div>
<br />
