@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScriptHeader
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#header-menu").hide();
        });
    </script>
}

<div class="callout-box-6a">
    <div class="row">
        <div class="span10">
            <div class="headline">
                <h3>Pricing</h3>
            </div>
            <!-- end .headline -->
        </div>
    </div>
</div>

<div class="row">
    <div class="span8">
        <h5>Informatel offers some of the most competitive pricing in the industry.  Whilst many of our clients have customized solutions and pricing structures, the following prices are indicative for our services:</h5>
    </div>
    <!-- end .span4 -->
</div>
<!-- end .row -->

<div class="callout-box-3" style="margin-bottom: -50px; background-image: url('Content/images/index/pricing-banner.png'); background-repeat: no-repeat; background-size: 100%;">
    <div class="row">
        <div class="span2a">
            <div class="buttons ani fadeInRight">
                <img src="@Url.Content("/Content/images/icons/32x32/white/plus.png")" alt="" width="32" height="32" />
                <h4>
                    <a href="#">BULK SMS</a>
                </h4>
                <br>
                <h7>from (per sms)</h7>
                <h1 style="color: #ffffff;">$0.08</h1>
            </div>
            <!-- ens .buttons -->
        </div>
        <!-- end .span2 -->
        <div class="span2a">
            <div class="buttons ani fadeInRight delay1">
                <img src="@Url.Content("/Content/images/icons/32x32/white/plus.png")" alt="" width="32" height="32" />
                <h4>
                    <a href="#">APPS</a>
                </h4>
                <br>
                <h1 style="color: #ffffff;">Custom Apps</h1>
                <h7 style="color: #ffffff;">Full scoping<br>Individual quotes</h7>
            </div>
            <!-- ens .buttons -->
        </div>
        <!-- end .span2 -->
        <div class="span2a">
            <div class="buttons ani fadeInRight delay2">
                <img src="@Url.Content("/Content/images/icons/32x32/white/plus.png")" alt="" width="32" height="32" />
                <h4>
                    <a href="#">AUTOMATED VOICE SERVICES</a>
                </h4>
                <br>
                <h7>from</h7>
                <h1 style="color: #ffffff;">$0.40</h1>
            </div>
            <!-- ens .buttons -->
        </div>
        <!-- end .span2 -->
        <div class="span2a">
            <div class="buttons ani fadeInRight delay3">
                <img src="@Url.Content("/Content/images/icons/32x32/white/plus.png")" alt="" width="32" height="32" />
                <h4>
                    <a href="#">PREMIUM RATE SMS & 190</a>
                </h4>
                <br>
                <h7>from</h7>
                <h1 style="color: #ffffff;">10%</h1>
                <h7>of total revenue</h7>
            </div>
            <!-- ens .buttons -->
        </div>
        <!-- end .span2 -->
    </div>
    <!-- end .row -->
</div>
<!-- end .callout-box-3a -->
<br />

<!-- /// Waypoints ////////  -->
<script src="@Url.Content("/Content/Scripts/waypoints/waypoints.min.js")" type="text/javascript"></script>
<!-- /// Custom JS ////////  -->
<script src="@Url.Content("/Content/Scripts/plugins.js")" type="text/javascript"></script>
